h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}

.accordeon{
    margin:0 auto;
    width: 700px;
    border:1px solid #000000;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 10px;
    cursor:pointer;
}
.accordeon.active .header .btn{
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
.accordeon.active .content{
    display: block;
}
.header{
    display: flex;
    justify-content: space-between;
}
.text{
    font-size: 50px;
    text-align: center;
}
.btn{
    background: crimson;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.content{
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    display: none;
}